@import "tailwindcss";

:root {
  --background: #e0e0e0;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Use the variables for your site */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Neo-brutalism scrollbar styles */
::-webkit-scrollbar {
  width: 25px;
  background: #e0e0e0;
  border-left: 4px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #0070f3;
  border: 4px solid #000;
}


::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-left: 4px solid #000;
}
